.detail{
    margin-top: 100px;
}

.detail-card{
    border: none;
}
.detail-card-img{
    height: 350px;
}

@media only screen and (max-width:688px) {
    .service-detail-container{
        margin: 0;
    }
}