.customized-card{
    border: 0px;
}

.customized-card-body{
    padding: 10px 20px;
}

.customized-card-img{
    transition: 0.25s all linear;
}

.customized-card{
   overflow:hidden;
   transition: 0.25s all linear;
}

.customized-card-footer{
    background-color: white;
    transition: 0.25s all linear;
    padding: 0;
    border: none;
}

.customized-card:hover{
    background-color: #06A3DA;
    transform: translateY(-10px);
    color: white;
}

.customized-card:hover .customized-card-footer{
    background-color: #06A3DA;
    border: none;
}

.customized-card:hover .customized-card-img{
    transform: scaleX(1.1);
}

