.navbar .nav .nav-link{
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.navbar-brand{
    letter-spacing: 0.5rem;
}

.navbar .navbar-brand, .navbar .nav .nav-link:hover{
    color: #06A3DB;
}

.navbar .navbar-brand:hover{
    color: white;
    transition: 0.6s;
}

.login{
    padding: 5px;
    background-color: #06A3DB;
    color: white;
    border-radius: 5px;
}

.navbar .nav .login:hover{
    color: black;
    transition: 0.6s;
}
